{% extends 'base.html' %}

{% block header_js %}
    <link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/static/css/components.css">
    <link rel="stylesheet" href="/static/css/jpage.css">
    <link rel="stylesheet" href="/static/plugins/morris/morris.css">
{% endblock %}


{% block content %}
    <div class="box box-primary box-solid" id="contractBox">
        <div class="box-body contractInfo">
            <div class="box-header with-border">
                <h1>学者详情</h1>
                <h2>{{ author.author_name }}</h2>

            </div>
            <table class="contract" style="margin-left: 10px;margin-top: 10px;width: 100%;font-size: 15px">
                <tr>
                    <td>来自：</td>
                    <td>&nbsp;&nbsp;</td>
                    <td>{{ author.author_from }}</td>
                </tr>
            </table>

            <div class="box-header with-border" style="margin-top: 10px">
                <h3>作者简介</h3>&nbsp;&nbsp;
                <span>{{ author.author_introduction }}</span>
            </div>
            <div class="box-header with-border" style="margin-top: 10px">
                <h3>学者生涯研究轨迹分析</h3>&nbsp;&nbsp;
                <div class="box-body" id="author_trace"  style="height: 350px; padding: 0"></div>
            </div>
            <input id="years" value="{{ year }}" style="display: none">
            <input id="nums" value="{{ num }}" style="display: none">
            <input id="professors" value="{{ professor }}" style="display: none">
            <div class="box-header with-border" style="margin-top: 10px">
                <h3>作者关系图</h3>&nbsp;&nbsp;
                <div class="box-body" id="author_graph"  style="height: 450px; padding: 0">
{#                    <div id="main"  style="height: 300px; padding: 0"></div>#}
                </div>
            </div>
            <input id="authorName" value="{{ author.author_name }}" style="display: none">
            <input id="achievements" value="{{ achievements }}" style="display: none">
            <input id="names" value="{{ names }}" style="display: none">
            <input id="collaborate" value="{{ collaborate }}" style="display: none">

        </div>
    </div>

{% endblock %}


{% block footer_js %}
    <script src="/static/plugins/jquery.blockui.min.js"></script>
    <script src="/static/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/static/js/metronic.js"></script>
    <script src="/static/js/table-ext.js"></script>
    <script src="/static/js/datatable.js"></script>
{#    <script src="/static/js/contract/service.js"></script>#}

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/echarts.js"></script>
{#    <style type="text/css">#}
{#        html, body, #main { height: 100%; width: 100%; margin: 0; padding: 0 }#}
{#    </style>#}


    <script type="text/javascript">
        var years = $("#years").val();
        var nums = $("#nums").val();
        var professors = $("#professors").val();
        years =  JSON.parse(years);
        nums = JSON.parse(nums);
        professors = JSON.parse(professors);
        console.log(professors);

        var authorName = $("#authorName").val();

        var achievements = $("#achievements").val();
        var str = "共发表"; str += achievements; str += "篇论文";
        var names = $("#names").val();
        names = JSON.parse(names);
        var collaborate = $("#collaborate").val();
        collaborate  = JSON.parse(collaborate);

        var myChart = echarts.init(document.getElementById('author_graph'));
        var trace = echarts.init(document.getElementById('author_trace'));

        traceOption = {
            tooltip: {},
            legend: {
                data:['成果数']
            },
            xAxis: {
                data: professors
            },
            yAxis: {},
            series: [{
                name: '成果数',
                type: 'bar',
                data: nums,
                label:{

                    normal:{

                        show: true,
                        formatter: function (params) {
                            console.log(params.name);
                        },
                        position: 'inside',
                        distance: {
                            min: 0,
                            max: 100
                        }
                    }
                }
            }]
        };
        option = {

            tooltip: {
                formatter: function (x) {
                    return x.data.des;
                }
            },
            series: [
                {
                    type: 'graph',
                    layout: 'force',
                    symbolSize: 80,
                    roam: true,
                    edgeSymbol: ['circle', 'arrow'],
                    edgeSymbolSize: [4, 10],
                    edgeLabel: {
                        normal: {
                            textStyle: {
                                fontSize: 20
                            }
                        }
                    },
                    force: {
                        repulsion: 2500,
                        edgeLength: [10, 50]
                    },
                    draggable: true,
                    itemStyle: {
                        normal: {
                            {#color: '#4b565b'#}
                            color:'green'
                        }
                    },
                    lineStyle: {
                        normal: {
                            width: 2,
                            color: '#4b565b'

                        }
                    }, linkStyle: {
                        color: 'source',
                        curveness: 0.1
                    },
                    edgeLabel: {
                        normal: {
                            show: true,
                            formatter: function (x) {
                                return x.data.name;
                            }
                        }
                    },
                    label: {
                        normal: {
                            show: true,
                            textStyle: {
                            }
                        }
                    },
                    data: [
                         {
                            name: authorName,
                            des: str,
	                        symbolSize: 100	,
                            itemStyle: {
                                normal: {
                                    color: 'red'
                                }
                            }
                        }
                    ],
                    links: [{
                            source: names,
                            target: authorName,
                            name:"合作"
                        }]
                }
            ]
        };
        for(var i=0; i<names.length; i++) {
            if (authorName == names[i])
                continue;
            else {
                var str2 = "合作次数：";
                str2 += collaborate[i];
                option.series[0].data.push({
                    name: names[i],
                    des: str2,
                    {#url:''#}
                });
                option.series[0].links.push({
                    source: names[i],
                    target: authorName,
                    name:"合作",
                    color: 'green',
                    itemStyle: {
                                normal: {
                                    color: 'green'
                                }
                            }
                });

            }
        }
        myChart.setOption(option);
        trace.setOption(traceOption);
    </script>

{% endblock %}
