{% extends 'base.html' %}

{% block header_js %}
    <link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/static/css/components.css">
    <link rel="stylesheet" href="/static/css/jpage.css">
    <link rel="stylesheet" href="/static/plugins/morris/morris.css">
{% endblock %}

{% block head_nav %}
    <section class="content-header">
        <h1>&nbsp;</h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home </a></li>
        </ol>
    </section>
{% endblock %}

{% block content %}

    <div class="box box-solid box-primary" style="min-height:680px">

        <div class="box-header with-border">
            <h3 class="box-title" style="">
                <div class="table-container" style="padding:14px">
                    <div class="table-actions-wrapper">
                        <input type="text" class="form-control input-inline input-middle input-sm form-filter"
                               name="" style="width: 250px" placeholder="查询内容">
                        <select class="form-control input-inline input-small input-sm form-filter select" name=""
                                data-placeholder='查询类型'>
                            <option value="">按论文题目</option>
                            <option value="">按作者</option>
                            <option value="">按关键字</option>
                            <option value="">按起止时间</option>
                        </select>
                        <button class="btn btn-sm red filter-submit"><i class="fa fa-search"></i> 查询</button>
                    </div>
                </div>
            </h3>
        </div><!-- /.box-header -->
        <div class="box-body">


            <div class="box-body" style="font-size: 15px">
                <div style="width: 50%;float: left ">
                    题目
                </div>
                <div style="width: 30%;float: left">
                    作者
                </div>
                <div style="width: 20%;float: left">
                    更新时间
                </div>
            </div>
            <div class="box-body" style="font-size: 15px">
{#                <a href="{% url 'to_paper_content' %}">#}
                    <div style="width: 50%;float: left ">
                        Machine Learning
                    </div>
                    <div style="width: 30%;float: left">
                        Panos Louridas ; Christof Ebert
                    </div>
                    <div style="width: 20%;float: left">
                        24 August 2016
                    </div>
{#                </a>#}
            </div>


        </div><!-- /.box-body -->


    </div>
    </div>


{% endblock %}

{% block footer_js %}
    <!-- Morris.js charts -->
    <script src="/static/js/raphael/raphael-min.js"></script>
    <script src="/static/plugins/morris/morris.min.js"></script>

    <script src="/static/plugins/jquery.blockui.min.js"></script>
    <script src="/static/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/static/js/metronic.js"></script>
    <script src="/static/js/table-ext.js"></script>
    <script src="/static/js/datatable.js"></script>
    <script src="/static/js/jPages.js"></script>
{% endblock %}
